<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/pre"
        android:label="StatusMe"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".Main_Calendario"
            android:exported="false" />
        <activity
            android:name=".Main_Estadisticas"
            android:exported="false" />
        <activity
            android:name=".Main_Seleccion"
            android:exported="false" />
        <activity
            android:name=".Main_Remember"
            android:exported="false" />
        <activity
            android:name=".Main_Signup"
            android:exported="false" />
        <activity
            android:name=".Main_Home"
            android:exported="false" />
        <activity
            android:name=".Main_Usuario"
            android:exported="false" />
        <activity
            android:name=".Main_Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>